<div class="page">
  <h1>Background and Interests</h1>
  <p>Hi, My name is Luke Huntley! I am from Raleigh, North Carolina</p>
  <p>I am, 22 years old and have been a student at App for the past 4 years.</p>
  <p>Currently, I am working on more Web Development projects, using angular to build my resume and gain experience.</p>
  <p>I currently Live in Boone N.C. with my girlfriend Sarah and my dog Valle.</p>
  <p>In my free time, I enjoy playing video games, snowboarding, fishing and spending time outside.</p>
</div>
