<div class="page">
<div class="container">
  <div class="image">
    <img src="../../assets/images/220213_RIB_0399.jpg" alt="Profile picture">
  </div>
  <div class="bio">
    <div class="bio-grid">
      <div class="bio-row">
        <p>Hello! my name is Luke Huntley and I like creating things that live on the internet.</p>
      </div>
      <div class="bio-row">
        <p>My interest in web development started in 2019 when I took my first Computer Science courses at Wake Technical Community College.</p>
      </div>
      <div class="bio-row">
        <p>Currently I am a Senior Computer Science Major at Appalachian State University. I recently accepted an Internship at Charlotte Pipe and Foundry as a Programmer Analyst Intern.</p>
      </div>
      <div class="info-box">
        <h3>Technologies I've worked with recently:</h3>
        <ul class="tech-list">
          <li> Python</li>
          <li> Angular</li>
          <li> Java</li>
          <li> HTML</li>
          <li> CSS</li>
          <li> Typescript</li>
          <li> Javascript</li>
          <li> C++</li>
        </ul>
        </div>
    </div>
  </div>
</div>

</div>
